<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-9 p-3 m-5">
      <a class="" routerLink="../..">Home...</a>
      <h1 class="title fs-2 text-uppercase mt-2">{{ post.title }}</h1>
      <h2 class="author fs-6">{{ post.user }}</h2>
      <div class="content mt-4">{{ post.body }}</div>

      <h1 class="d-inline-block title fs-4 text-uppercase mt-5">Comments</h1>
      <app-comments *ngFor="let comment of post['comments']" [comment]="comment"></app-comments>
    </div>
  </div>
</div>
