<div class="modal-content">
    <div class="modal-header">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="d-block p-4">
        <h3 class="title fs-4 text-truncate text-uppercase">
            Ahojs
            <!-- {{ postContentModel.title }} -->
          </h3>
          <h4 class="author fs-6">
            Jakub Kareš
            <!-- {{ postContentModel.user }} -->
        </h4>
          <p class="content mt-3">
            TAK
            <!-- {{ postContentModel.body }} -->
          </p>
    </div>
    <div class="d-block p-4">
        <h3>
            Komentáře:
        <!-- {{ postModel.title }} -->
      </h3>
    </div>
  </div>

    