<!-- Component start -->
<a class="col post text-decoration-none color text-secondary" [routerLink]="['/post', postModel.id]">
  <div class="feature shadow-sm p-4 rounded-bottom bg-light">
    <h3 class="title fs-4 text-truncate text-uppercase">
      {{ postModel.title }}
    </h3>
    <h4 class="author fs-6">{{ postModel.user }}</h4>
    <div class="content" style="min-height: 5em;">
      {{ postModel.bodyShort }}
    </div>
    <div class="d-flex justify-content-between mt-4">
      <p class="comments">Comments {{ postModel.comments.length }}</p>
    </div>
  </div>
</a>