<!-- Component start -->
<div class="col post" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <!-- TODO JaKa pointer must be a hand  -->
    <div class="feature shadow-sm p-4 rounded-bottom bg-light">
        <h3 class="title fs-2">Title</h3>
        <h4 class="author">Author</h4>
        <div class="content">
            <!-- TODO JaKa just a short text not everything -->
            Paragraph of text beneath the heading to explain the heading.
            We'll add onto it with another sentence and probably just keep
            going until we run out of words.
        </div>
        <div class="d-flex justify-content-between mt-4">
            <!-- <a href="#">Show more...</a> -->
            <a class="comments" href="#">Comments</a>
            <!-- TODO JaKa number of comments -->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <app-post-content></app-post-content>
    </div>
</div>
<!-- component end -->