/* You can add global styles to this file, and also import other style files */
.post{
    cursor: pointer;
}

.row:has(.post:hover) .post:not(:hover){
    opacity: 0.7;
    transition: all;
    transition-duration: 600ms;
    transition-timing-function: ease-out;
    /* transition-delay: 200ms; */
}